{{> header }}

<div class="bg-dark text-light dvh-100 position-relative d-flex align-items-center justify-content-center">
  <div class="container position-relative z-1 text-center" style="mix-blend-mode: difference;">
    <svg width="280" height="112">
      <use xlink:href="#logo" />
    </svg>
    <p class="lead mt-4">Multiple Digital Impact Award winning. 18+ years experience in agencies, freelancing and contracting in Japan, Sweden and the UK. WordPress and Shopify expert. Background education in typography and design.</p>
    <a href="&#109;&#97;&#105;&#76;&#84;&#79;&#58;&#101;&#110;&#113;&#117;&#105;&#114;&#101;&#64;&#106;&#97;&#109;&#101;&#115;&#109;&#111;&#110;&#107;&#46;&#109;&#101;" class="btn btn-lg btn-secondary mt-3" target="_blank" rel="noopener">Contact</a>
    <a href="//github.com/jmsedwrdmnkme" class="btn btn-lg btn-light mt-3" target="_blank" rel="noopener">Github</a>
    <a href="//use.worksome.com/profile/143066" class="btn btn-lg btn-primary mt-3" target="_blank" rel="noopener">Book @ Worksome</a>
    <a href="//app.yunojuno.com/p/james-monk" class="btn btn-lg btn-primary mt-3" target="_blank" rel="noopener">Book @ YunoJuno</a>
  </div>
  <video width="1366" height="768" class="object-fit-cover w-100 h-100 position-absolute" preload="metadata" autoplay loop muted playsinline>
    <source src="/videos/video.webm" type="video/webm">
    <source src="/videos/video.mp4" type="video/mp4">
  </video>
</div>

{{> footer }}
