{{> header }}

<div id="main" class="bg-dark text-light dvh-100 position-relative d-flex align-items-center justify-content-center">
  <div class="container position-relative z-1 text-center" style="mix-blend-mode: difference;">
    <svg width="280" height="112">
      <use xlink:href="#logo" />
    </svg>
    <p class="lead mt-5">Multiple Digital Impact Award winning, UK based. 18+ years experience. WordPress and Shopify expert. Background education in design.</p>
    <a href="&#109;&#97;&#105;&#76;&#84;&#79;&#58;&#101;&#110;&#113;&#117;&#105;&#114;&#101;&#64;&#106;&#97;&#109;&#101;&#115;&#109;&#111;&#110;&#107;&#46;&#109;&#101;" class="btn btn-lg btn-secondary mt-3" target="_blank">Contact me</a>
    <a href="https://app.yunojuno.com/ref/c/rftgkd/" class="btn btn-lg btn-primary mt-3" target="_blank">Book me</a>
  </div>
  <video width="1366" height="768" class="object-fit-cover w-100 h-100 position-absolute" preload="metadata" autoplay loop muted playsinline>
    <source src="/videos/video.webm" type="video/webm">
    <source src="/videos/video.mp4" type="video/mp4">
  </video>
</div>

{{> footer }}
