{{> header }}

<article>
  <div style="position: relative; z-index: 1; mix-blend-mode: difference; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 90vh">
    <p>
      <svg width="280" height="112">
        <use xlink:href="#logo" />
      </svg>
    </p>
    <p>Multiple Digital Impact Award winning. 18+ years experience in agencies, freelancing and contracting in Japan, Sweden and the UK. WordPress and Shopify expert. Background education in typography and design.</p>
    <p>
      <a class="button" href="&#109;&#97;&#105;&#76;&#84;&#79;&#58;&#101;&#110;&#113;&#117;&#105;&#114;&#101;&#64;&#106;&#97;&#109;&#101;&#115;&#109;&#111;&#110;&#107;&#46;&#109;&#101;" target="_blank" rel="noopener">Contact</a> 
      <a class="button" href="//github.com/jmsedwrdmnkme" target="_blank" rel="noopener">Github</a> 
      <a class="button" href="//use.worksome.com/profile/143066" target="_blank" rel="noopener">Book @ Worksome</a> 
      <a class="button" href="//app.yunojuno.com/p/james-monk" target="_blank" rel="noopener">Book @ YunoJuno</a>
    </p>
  </div>
  <video width="100%" height="100%" preload="metadata" autoplay loop muted playsinline style="object-fit: cover; position: absolute; top: 0; left: 0; min-height: 100vh; min-width: 100vw">
    <source src="/videos/video.webm" type="video/webm">
    <source src="/videos/video.mp4" type="video/mp4">
  </video>
</article>

{{> footer }}
