{{> header title='Nutrition calculator' meta-title='Calculate your nutrition: Calories, protein, carbs, fats and more - for fat loss or muscle gain.' keywords="nutrition, calculator, protein, carbs, fats, fibre, fat loss, muscle gain, recomp, bodybuilding" }}

<header>
  <h1>Nutrition calculator</h1>
</header>

<main class="nutrition">
  <p>
    My <label id="label-sex">biological sex</label> is a
    <select id="sex" aria-describedby="label-sex" aria-label="Sex">
      <option value="man" selected>man</option>
      <option value="woman">woman</option>
    </select>

    who is
    <input id="age" type="number" placeholder="0" aria-describedby="label-age" aria-label="Age">
    <label id="label-age" for="age">years old</label>.

    I am
    <input id="height" type="number" placeholder="0" aria-describedby="label-height" aria-label="Height (cm)">
    <label id="label-height" for="height">cm in height</label>

    and
    <input id="weight" type="number" placeholder="0" aria-describedby="label-weight" aria-label="Weight (kg)">
    <label id="label-weight" for="weight">kg in weight</label>.
  </p>

  <p>
    My <label id="label-activity" for="activity">activity level</label> is
    <select id="activity" aria-describedby="label-activity" aria-label="Activity level">
      <option value="1.2">sedentary</option>
      <option value="1.375" selected>light</option>
      <option value="1.55">moderate</option>
      <option value="1.725">heavy</option>
      <option value="1.9">very heavy</option>
    </select>

    and my
    <label id="label-physique" for="physique">physique</label> is
    <select id="physique" aria-describedby="label-physique" aria-label="Physique">
      <option value="shredded">shredded</option>
      <option value="lean" selected>lean/athletic</option>
      <option value="chubby">carrying a little fat</option>
    </select>
    .
  </p>

  <p>
    My overall
    <label id="label-goal" for="goal">goal</label> is to
    <select id="goal" aria-describedby="label-goal" aria-label="Goal">
      <option value="losefat">lose fat</option>
      <option value="maintain" >maintain</option>
      <option value="gain" selected>gain muscle</option>
    </select>
    .
  </p>

  <p>
    <small>
      <em>
        I know my <label id="label-tdee" for="age">TDEE calories</label>, they are
        <input id="manualCalories" type="number" placeholder="0" aria-describedby="label-tdee" aria-label="TDEE calories">.
      </em>
    </small>
  </p>

  <table>
    <tbody>
      <tr>
        <th>Calories:</th><td><span class="calories"></span></td>
      </tr>
      <tr>
        <th>Protein:</th><td><span class="protein"></span></td>
      </tr>
      <tr>
        <th>Carbs:</th><td><span class="carbs"></span></td>
      </tr>
      <tr>
        <th>Sugar:</th><td><span class="sugar"></span></td>
      </tr>
      <tr>
        <th>Fibre:</th><td><span class="fibre"></span></td>
      </tr>
      <tr>
        <th>Fats:</th><td><span class="fats"></span></td>
      </tr>
      <tr>
        <th>Saturated fat:</th><td><span class="saturated"></span></td>
      </tr>
      <tr>
        <th>Omega 3:</th><td><span class="omega"></span></td>
      </tr>
    </tbody>
  </table>
</main>

{{> footer scripts=true }}
