</main>

<footer>
  <p>James Monk 2025</p>
</footer>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "jobTitle": "Front-End Developer",
    "name": "James Monk",
    "url": "https://jamesmonk.me"
  }
</script>

</html>
