<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{> global/metadata }}
{{> global/favicon }}

<link rel="stylesheet" href="/css/main.css">

</head>
<body>

<div class="display-none">{{> global/sprite }}</div>

<a class="display-none-focusable" href="#main">Skip to main content</a>

<header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<main id="main">
