.button {
  --btn-colour: blue;

  margin-top: .5ch;
  padding: .5ch 1ch;
  transition: background-color .2s;
  text-decoration: none;

  &:first-of-type {
    background: var(--btn-colour);
    color: white;
  }

  &:not(:first-of-type) {
    color: var(--btn-colour);
  }

  &:hover {
    --btn-colour: purple;
  }

  &:focus {
    outline: 0.25ch solid red;
  }

  @media (max-width: 767.98px) {
    display: table;
  }

  @media (min: 768px) {
    display: inline-block;
  }
}
