.button {
  background: blue;
  color: white;
  display: inline-block;
  margin-top: .5ch;
  padding: .5ch 1ch;
  transition: background-color .2s;
  text-decoration: none;
}

.button:hover {
  background: purple;
}

.button:focus {
  outline: 0.25ch solid red;
}
