.button {
  --btn-bg: blue;

  background: var(--btn-bg);
  color: white;
  display: inline-block;
  margin-top: .5ch;
  padding: .5ch 1ch;
  transition: background-color .2s;
  text-decoration: none;

  &:hover {
    --btn-bg: purple;
  }

  &:focus {
    outline: 0.25ch solid red;
  }
}
