<title>James Monk | Multi Award Winning Front-End Developer</title>
<meta name="description" content="Multiple Digital Impact Award winning, 18+ years experience. WordPress and Shopify expert. Background education in typography and design.">
<meta name="keywords" content="front end, development, html5, css3, web development, gulp, node, npm">
<meta property="og:title" content="James Monk | Multi Award Winning Front-End Developer">
<meta property="og:type" content="article">
<meta property="og:description" content="Multiple Digital Impact Award winning, 18+ years experience. WordPress and Shopify expert. Background education in typography and design.">
<meta property="og:url" content="https://jamesmonk.me">
<meta property="og:image" content="https://jamesmonk.me/img/favicon.svg">
